@charset "UTF-8";
body {
	background-color: #000; }

#sneakerContent {
	background-color: #fff; }

/*! LAYOUT */
#sneakerSearch {
	position: relative;
	max-height: 0;
	overflow: hidden; 
	background-color: #000;
	transition: all 1s;}
	#sneakerSearch .search-brand {
		margin: 0 auto;
		max-width: 780px; }
		#sneakerSearch .search-brand > ul {
			width: 100%;
			overflow: hidden; }
			#sneakerSearch .search-brand > ul li {
				position: relative;
				float: left;
				width: 10%;
				height: 50px;
				text-align: center;
				text-align: center; }
				#sneakerSearch .search-brand > ul li > div {
					margin: 0 auto;
					width: 50px;
					height: 50px;
					background-position: 50% 0;
					background-size: cover; 
					background-repeat: no-repeat;}
				#sneakerSearch .search-brand > ul li a {
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					padding-top: 13px;
					width: 100%;
					text-decoration: none; 
					font-size: 22px;
					color: #fff;
					opacity: 0;
					cursor: pointer;}
			#sneakerSearch .search-brand > ul li:hover > div {
				opacity: 0.6; }
			#sneakerSearch .search-brand > ul li:hover a {
				opacity: 0.8; }
			#sneakerSearch .search-brand > ul li.no1 > div {
				background-image: url("../images/common/jordan1.png"); }
			#sneakerSearch .search-brand > ul li.no2 > div {
				background-image: url("../images/common/jordan2.png"); }
			#sneakerSearch .search-brand > ul li.no3 > div {
				background-image: url("../images/common/jordan3.png"); }
			#sneakerSearch .search-brand > ul li.no4 > div {
				background-image: url("../images/common/jordan4.png"); }
			#sneakerSearch .search-brand > ul li.no5 > div {
				background-image: url("../images/common/jordan5.png"); }
			#sneakerSearch .search-brand > ul li.no6 > div {
				background-image: url("../images/common/jordan6.png"); }
			#sneakerSearch .search-brand > ul li.no7 > div {
				background-image: url("../images/common/jordan7.png"); }
			#sneakerSearch .search-brand > ul li.no8 > div {
				background-image: url("../images/common/jordan8.png"); }
			#sneakerSearch .search-brand > ul li.no9 > div {
				background-image: url("../images/common/jordan9.png"); }
			#sneakerSearch .search-brand > ul li.no10 > div {
				background-image: url("../images/common/jordan10.png"); }
			#sneakerSearch .search-brand > ul li.no11 > div {
				background-image: url("../images/common/jordan11.png"); }
			#sneakerSearch .search-brand > ul li.no12 > div {
				background-image: url("../images/common/jordan12.png"); }
			#sneakerSearch .search-brand > ul li.no13 > div {
				background-image: url("../images/common/jordan13.png"); }
			#sneakerSearch .search-brand > ul li.no14 > div {
				background-image: url("../images/common/jordan14.png"); }
			#sneakerSearch .search-brand > ul li.no15 > div {
				background-image: url("../images/common/jordan15.png"); }
			#sneakerSearch .search-brand > ul li.no16 > div {
				background-image: url("../images/common/jordan16.png"); }
			#sneakerSearch .search-brand > ul li.no17 > div {
				background-image: url("../images/common/jordan17.png"); }
			#sneakerSearch .search-brand > ul li.no18 > div {
				background-image: url("../images/common/jordan18.png"); }
			#sneakerSearch .search-brand > ul li.no19 > div {
				background-image: url("../images/common/jordan19.png"); }
			#sneakerSearch .search-brand > ul li.no20 > div {
				background-image: url("../images/common/jordan20.png"); }
			#sneakerSearch .search-brand > ul li.no21 > div {
				background-image: url("../images/common/jordan21.png"); }
			#sneakerSearch .search-brand > ul li.no22 > div {
				background-image: url("../images/common/jordan22.png"); }
			#sneakerSearch .search-brand > ul li.no23 > div {
				background-image: url("../images/common/jordan23.png"); }
			#sneakerSearch .search-brand > ul li.no24 > div {
				background-image: url("../images/common/jordan24.png"); }
			#sneakerSearch .search-brand > ul li.no25 > div {
				background-image: url("../images/common/jordan25.png"); }
			#sneakerSearch .search-brand > ul li.no26 > div {
				background-image: url("../images/common/jordan26.png"); }
			#sneakerSearch .search-brand > ul li.no27 > div {
				background-image: url("../images/common/jordan27.png"); }
			#sneakerSearch .search-brand > ul li.no28 > div {
				background-image: url("../images/common/jordan28.png"); }
			#sneakerSearch .search-brand > ul li.no29 > div {
				background-image: url("../images/common/jordan29.png"); }
			#sneakerSearch .search-brand > ul li.no30 > div {
				background-image: url("../images/common/jordan30.png"); }
			#sneakerSearch .search-brand > ul li.no31 > div {
				background-image: url("../images/common/jordan31.png"); }

@media (max-width: 780px) {
	#sneakerSearch .search-brand {
		width: 100%; }
		#sneakerSearch .search-brand > ul li {
			width: 20%; } }

@media (max-width: 360px) {
	#sneakerSearch .search-brand > ul li {
		width: 33.3%; } }

.over #sneakerSearch {
	max-height: 300px; }
